.Ant {
    width: 100%;
    object-fit: cover;
}

.north {
    transform: rotate(0deg);
}

.east {
    transform: rotate(90deg);
}

.south {
    transform: rotate(180deg);
}

.west {
    transform: rotate(270deg);
}   