.Field {
    display: grid;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid brown;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}